# Common ignore files
# bakup
*~
.*~
*.swp
.*.swp
*.orig

# Data
*.dat

# Vim
.viminfo
.vim/.netrwhist
.vim/.VimballRecord

# Emacs
*.elc
.emacs.d/auto-save-list
.emacs.d/elisp
.emacs.d/elpa

!.gitkeep
