# Common ignore files
# bakup
*~
.*~
*.swp
.*.swp
*.orig

# Data
*.dat

# Bash
_bash_history

# Vim
_viminfo
_vim/.netrwhist
_vim/.VimballRecord
_vim/**/*.vim
_vim/syntax/html
_vim/syntax/javascript

# Emacs
*.elc
_emacs.d/auto-save-list
_emacs.d/elisp
_emacs.d/elpa

!.gitkeep
